/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Colors
1. #2E323F
2. #3B4050 
3. #6F737F 
4. #FFFFFF 
5. #A59678
*/

.container {
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1em; */
}

/* Header */

.header {
  background-color: #2E323F;
  padding: 2em 0em;
  text-align: center;
}

.logo__image {
  height: 30px;
}

.nav__list--secondary {
  margin-top: 2.5em;
}

.nav__item {
  margin-top: 1.5em;
}

.nav__link {
  color: #FFFFFF;
}

.nav__link--button {
  background-color: #A59678;
  padding: .3em .8em;
  border-radius: 1em;
}

.nav__link--button:focus, .nav__link--button:hover {
  opacity: .9;
}

/* Intro */

.intro {
  background-color: #3B4050;
  min-height: 24em;
  padding: 3em;
  color: #FFFFFF;
}

.intro__title {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
}

.accent-text {
  color: #A59678;
}

.intro__text {
  margin-bottom: 2em;
  line-height: 150%;
}

.intro__button {
  color: #FFFFFF;
  background-color: #A59678;
  padding: .2em .8em;
  border-radius: 1em;
}

/* Section first */

.section {
  padding: 3em 0;
}

.section--first {
  background-color: lightgray;
}

.section--first .row {
  justify-content: center;
  justify-content: space-between;
}

.section--first .col {
  text-align: center;
  max-width: 24em;
}

.section__title {
  color: #A59678;
  font-size: 1.9rem;
}

/* Section second */

.col__box {
  background-color: #3B4050;
  text-align: center;
  padding: 1em;
}

.col__box + .col__box {
  margin-top: 1em;
}

.section--second .col__box .col__title {
  color: #FFFFFF;
}

.section--second .col__box .col__text {
  color: #FFFFFF;
}

.col__image {
  width: 100%;
}

  /* Footer */

  .footer {
    background-color: #2E323F;
    color: #FFFFFF;
    padding: 3em 0;
  }

  .footer__col {
    margin-top: 2em;
  }
  
  .footer__title {
    font-size: 1.5rem;
  }
  
  .footer__col__title {
    margin-bottom: .5em;
    color: #A59678;
  }
  
  .footer__nav__link {
    color: #FFFFFF;
  }

/* Media queries */

@media (min-width: 700px) {
  /* Header */
  .navbar {
    display: flex;
  }

  .nav {
    margin-left: auto;
  }

  .nav__list {
    margin: 0;
    display: flex;
    gap: 1em;
  }

  .nav__item {
    margin: 0;
  }

  /* Intro */

  .intro__col {
    width: 50%;
  }

  .intro__title {
    font-size: 5.265rem;
  }

  .intro__col--right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .intro__button {
    align-self: flex-start;
  }

  /* Section first */


  /* Section second */

  /* Footer */

  .footer-row {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }

  .footer__col {
    width: 100%;
  }

  .footer__col--first {
    width: 120em;
  }

}

@media (min-width: 700px) and (max-width: 1000px) {

  .col__box {
    width: 16em;
  }

  .col__box + .col__box {
    margin-top: 0;
  }

  .section--second .col--right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
  }

  
}


@media (min-width: 1000px) {

  .section--second .col--left {
    width: 60%;
  }

  .col__box {
    width: 16em;
  }

}