@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: auto 0;
}

.intro {
  background-color: #23424A;
  padding: 148px;
}

.intro h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
}

.intro p {
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #FFFFFFD9;
}

.intro-button {
  background-color: #38CFD9;
  display: inline-block;
  padding: .8em 2em;
  border-radius: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #072A2D;
  margin-top: 3em;
}